<html>
<head>
<link rel="stylesheet" href="mystyle.css">
<style>
body {
  background-color: linen;
}
h1 {
  color: maroon;
  margin-left: 40px;
} 
</style>

</head>

<body>
<h1><center>$current.outTemp</center></h1>
<p>
<center> <img src="outTempDay.png"/> </center>
</body>

</html>
